body{
  margin:0;
  padding:0;
}
ul.menuBar{
  lisyt-style:none;
}  
ul.menuBar{
    display:inline;
}

#main{
	width:960px;
}
aside{
	padding:10px;
	background-color:#abcdef;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	width:220px;
	border: 1px solid #6C70F0;
	
}
aside ul{
	list-style:none;
	margin:0;
	padding:0;
}
aside h3{
	color:#802B12;
	text-decoration: underline;
}
.sidebar li{
	border-bottom:1px dashed #999;
	padding:4px;
}
.sidebar li a{
	text-decoration:none;
	color:#333;
}
.sidebar li a:hover{
	color:#EDEEF5;
}

header{
		background-color:#000;
		float:left;
		width:960px;
		padding:10px;
}
header h1{
	color:#ddd;

	float:left;
}
header form{
	float:right;
	margin: 20px 0 0;
}
#search{
	border: 1px solid green;
}

