body{
  margin:0;
  padding:0;
}
nav{
  width:960px;
}
ul.menuBar{
  list-style:none;
  border-color: #677C89 #677C89 #6B808D;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  background: -moz-linear-gradient(center top , #829AA8, #405A6A) repeat scroll 0 0 transparent;
} 
ul.menuBar ul{
  position:absolute;
  width:90px;
  left:0;
  background-color:#4183C4;
  padding:10px;
  display:none;
}
ul.menuBar ul li a:hover{
  background-color:#999;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
ul.menuBar li:hover ul{
  display:block;
}
ul.menuBar li{
  display:inline;
  padding:0;
  position:relative;
}
ul.menuBar li a{
  color: #FFFFFF;
  display: inline-block;
  font-size: 20px;
  padding: 8px 15px;
  text-decoration: none;
  text-shadow:1px 0px 1px #333;

}
ul.menuBar li a:hover{
  background-color:#4183C4;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; 
}
ul.menuBar li:hover a{
  background-color:#4183C4;
}

#main{
  width:960px;
}
aside{
  padding:10px;
  background-color:#abcdef;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  width:220px;
  border: 1px solid #6C70F0;

}
aside ul{
  list-style:none;
  margin:0;
  padding:0;
}
aside h3{
  color:#802B12;
  text-decoration: underline;
}
.sidebar li{
  border-bottom:1px dashed #999;
  padding:4px;
}
.sidebar li a{
  text-decoration:none;
  color:#333;
}
.sidebar li a:hover{
  color:#EDEEF5;
}

header{
  background-color:#4939F7;
  float:left;
  width:940px;
  padding:10px;
}
header h1{
  color:#ddd;

  float:left;
}
header form{
  float:right;
  margin: 20px 0 0;
}
#search{
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid green;
}

footer a:hover {
  background-color: white;
  color:#001;
}
footer ul li {
  display:inline;
  padding:0px 3px;
}
footer {
  width:960px;
  background-color:#ffbbcc;
  text-align: center;
  float:left;
}

